---
import { Icon } from "astro-icon/components";

const videos = [
  {
    author: "outfoxxed",
    authorlink: "https://outfoxxed.me",
    path: "/assets/showcase/outfoxxed.mp4",
  },
  {
    author: "flicko",
    authorlink: "https://github.com/flick0",
    path: "/assets/showcase/flicko.mp4",
  },
  {
    author: "vaxry",
    authorlink: "https://vaxry.net",
    path: "/assets/showcase/vaxry.mp4",
  },
];

---
<div class="marquee">
  <div class="marquee-scroll">
    <div id="marquee-scroll-left" class="marquee-scroll-arrow">
      <div><Icon name="caret-left"/></div>
    </div>
    <div class="marquee-item-spacing"/>
    <div id="marquee-scroll-right" class="marquee-scroll-arrow">
      <div><Icon name="caret-right"/></div>
    </div>
  </div>
  <div id="marquee-content" class="marquee-content" data-scroll="0">
    {videos.map(({ author, authorlink, path }, index) => <div class="marquee-item">
      <div>
        <video class="marquee-item-spacing marquee-item-content" muted controls {...(index == 0 ? {autoplay: ""} : {})}>
          <source src={path} type="video/mp4"/>
        </video>
        <p>Configuration by <a href={authorlink}>{author}</a></p>
      </div>
    </div>)}
  </div>
</div>

<script>
  // marquee
  // const dataNum = 10 // number of elements
  const marquee = document.getElementById("marquee-content")!;
  marquee.style.setProperty("--scroll", "0")

  // left-right buttons
  const scrollLeft = document.getElementById("marquee-scroll-left")!;
  const scrollRight = document.getElementById("marquee-scroll-right")!;

  scrollLeft.addEventListener("mousedown", () => {
    const dataScroll = marquee.getAttribute("data-scroll")!;
    const hashMap = {
      "0": () => {
        const scrollToLast = "-900%" // dataNum
        marquee.setAttribute("data-scroll", scrollToLast);
      },
      "lt0": () => {
        const oldDataScroll = marquee.getAttribute("data-scroll")!.slice(1, -1);
        const oldNumScroll = Number(oldDataScroll)
        const newScroll = oldNumScroll - 100;
        newScroll <= 900 && newScroll > 0 ?
          marquee.setAttribute("data-scroll",`-${newScroll.toString()}%`)
          : marquee.setAttribute("data-scroll", "0")
      }
    }

    hashMap[dataScroll === "0" ?
      "0"
      : "lt0"
    ]()
    const updatedScroll = marquee.getAttribute("data-scroll")!;
    marquee.style.setProperty("--scroll", updatedScroll)
  })

  scrollRight.addEventListener("mousedown", () => {
    const dataScroll = marquee.getAttribute("data-scroll")!;
    const hashMap = {
      "900": () => { // dataNum
        const scrollToFirst = "0";
        marquee.setAttribute("data-scroll", scrollToFirst);
      },
      "mt0": () => {
        const oldDataScroll = marquee.getAttribute("data-scroll")!.slice(1, -1);
        const oldNumScroll = Number(oldDataScroll)
        const newScroll = oldNumScroll + 100;
        newScroll <= 900 && newScroll < 1000 ?
          marquee.setAttribute("data-scroll",`-${newScroll.toString()}%`)
          : marquee.setAttribute("data-scroll", "0")
      }
    }

    hashMap[dataScroll === "900" ?
      "900"
      : "mt0"
    ]()
    const updatedScroll = marquee.getAttribute("data-scroll")!;
    marquee.style.setProperty("--scroll", updatedScroll)
  })
</script>
