---
import { ThemeSelect } from "@components/hooks/ThemeSwitch";
import { getTypeData } from "@config/io/generateTypeData";
import Nav from "@components/navigation/sidebars/nav/index.astro";
import TOC from "@components/navigation/sidebars/TOC.astro";
import type { TypeTOC } from "./navigation/sidebars/types";
import Search from "./navigation/Search.astro";

const routes = await getTypeData();

const url = Astro.url.pathname.split("/");
const currentClass = url[4];
const currentData = routes.find(
  item => item.name === currentClass
);

const data = currentData?.data;
const tocFunctions =
  data?.functions?.map(item => item.name) || null;

const propsKeys = data?.properties
  ? Object.keys(data.properties)
  : null;
const signalKeys = data?.signals
  ? Object.keys(data.signals)
  : null;
const variantKeys = data?.variants
  ? Object.keys(data.variants)
  : null;

let sidebarData: TypeTOC | undefined = {
  properties: propsKeys,
  functions: tocFunctions,
  signals: signalKeys,
  variants: variantKeys,
};

if (!data) {
  sidebarData = undefined;
}

const {
  title = null,
  headings = [],
} = Astro.props;
---
<div class="header">
  <div class="header-item header-left">
    <Nav mobile={true}/>
    <h3 class="header-title">
      <a href="/">Quickshell</a>
    </h3>
  </div>
  <div class="header-item header-right">
    <Search/>
    <ThemeSelect client:load />
    <TOC title={title} headings={headings} types={sidebarData} mobile={true}/>
  </div>
</div>
