---
export interface Props {
  currentRoute?: string;
  currentModule?: string;
  currentClass?: string;
}

import { getModulesData } from "@config/io/generateTypeData";
import type { TreeEntry } from "./Tree.astro";
import Tree from "./Tree.astro";
import Link from "./Link.astro";
import VersionSelector from "./VersionSelector.astro"

const modules = await getModulesData();

import { getCollection } from "astro:content";
const guidePages = await getCollection("guide");

interface NavTree {
  title: string,
  slug: string,
  entries?: NavTree[],
}

const currentPath = Astro.url.pathname.slice(1).split('/');

function mkTree(mount: string, pathIdx: number, { title, slug, entries }: NavTree): TreeEntry {
  const link = `${mount}/${slug}`;

  return {
    title,
    link,
    current: currentPath[pathIdx] === slug,
    entries: entries?.map(entry => mkTree(link, pathIdx + 1, entry)),
  };
}

function genGuideNav(base: string): NavTree[] | undefined {
  const pages = guidePages
    .filter(page => page.id.match(`^${base}[^/]*$`) !== null && page.id !== "index")
    .sort((a, b) => a.data.index - b.data.index)
    .map(page => ({
      title: page.data.title,
      slug: page.id,
      entries: genGuideNav(page.id + "/"),
    }));

  return pages.length === 0 ? undefined : pages;
}

const guide = mkTree("/docs", 1, {
  title: "Usage Guide",
  slug: "guide",
  entries: genGuideNav(""),
});

const types = mkTree("/docs", 1, {
  title: "Quickshell Types",
  slug: "types",
  entries: modules.map(module => ({
    title: module.name,
    slug: module.name,
    entries: module.types.map(type => ({
      title: type.name,
      slug: type.name,
    }))
  }))
});

---
<nav class="navtree">
  <VersionSelector title="Versions" link=`${Astro.currentLocale}` current/>
  <Link
    title="About Quickshell"
    link="/about"
    current={Astro.url.pathname === "/about"}
  />
  <Tree {...guide}/>
  <Tree {...types}/>
  <Link
    title="QtQuick Types"
    link="https://doc.qt.io/qt-6/qtquick-qmlmodule.html"
    showIcon={true}
  />
  <Link
    title="Quickshell Examples"
    link="https://git.outfoxxed.me/outfoxxed/quickshell-examples"
    showIcon={true}
  />
</nav>
